:root {
    /* Color list */
    --color-pink: rgb(255, 56, 92);
    
    --color-lightgray: rgb(242,242,242);
    --color-gray: rgb(106,106,106);
    --color-black: rgb(34,34,34);
    --color-deepblack: rgb(0,0,0);
    --color-darkgray: rgb(235,235,235);

    --max-size-width: 2000px;
}

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.container {
    width: var(--max-size-width);
    max-width: 100%;
    margin: auto;
    padding: 0 20px;
    
}



/* header */
header {
    border-bottom: 1.5px solid var(--color-darkgray);
    padding-bottom: 30px;
}

/* header-upper */
.header-upper {
    display: flex;
    justify-content: space-between;
}
.header-logo {
    margin: 20px;
}
.header-center {
    display: flex;
}
.header-center-item {
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.header-center-item-selected {
    border-bottom: 3px solid var(--color-black);
    margin-right: 10px;
}
.header-center-text {
    color: var(--color-gray);
    font-size: 1rem;
}
.header-center-text-selected {
    color: var(--color-black);
    font-size: 1rem;
    font-weight: bold;
}
.header-center-text:hover {
    color: var(--color-black)
}
.header-center-img {
    width: 70px;
    height: 60px;
    vertical-align: middle;
}
.header-right {
    display: flex;
    align-items: center;
}
.header-right-text {
    color: var(--color-black);
    margin-right: 25px;
    font-size: 0.9rem;
}
.header-right-border {
    display: flex;
    color: var(--color-black);
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    background-color: var(--color-lightgray);
    border-radius: 100%;
    font-size: 0.9rem;
}
.header-right-border:hover {
    background-color: var(--color-darkgray);
}
.header-right-text:hover {
    color: var(--color-deepblack);
}

/* header-lower */

.header-lower {
    display: grid;
    width: 1000px;
    grid-template-columns: 4fr 2fr 2fr 2fr 0.7fr;
    margin: auto;
    justify-content: center;
    align-items: center;
    /* padding: 10px 0; */
    border: 1px solid red;
    border-radius: 1000px;
    /* margin-bottom: 50px; */
}
.upper {
    font-size: 0.8rem;
    color: var(--color-black);
    font-weight: bold;
}
.lower {
    font-size: 1rem;
    color: var(--color-gray);
}
.place-search {
    border: none;
    outline: none;
    font-size: 1rem;
}

.text {
    border-right: 3px solid var(--color-darkgray);
    padding-left: 10%;
}
.text-margin {
    margin: 10px 0;
}
.text-last {
    border-right: none;
    padding-left: 10%;
}
.search {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid var(--color-darkgray);
    background-color: var(--color-pink);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    color: var(--color-lightgray);
}

.search:hover {
    background-color: rgb(226,27,95);
}
.header-lower-item:hover {
    background-color: var(--color-darkgray);
    border-radius: 1000px;
}
/* .text-margin:hover {
    background-color: var(--color-darkgray);
    border-radius: 1000px;
    /* margin: 0; */
} */


/* list */
#list > h3 {
    text-align: start;
    /* padding-left: 170px; */
    font-size: 1.1rem;
}
.place-title {
    color: var(--color-black);
}
.lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;
    padding-left: 0;
}
.list-img {
    width: 270px; 
    height: 260px;
    border-radius: 10%;
    object-fit: cover;
}
.lodgingname {
    color: var(--color-black);
    font-size: 0.9rem;
}
.lodgingdate, .lodgingtext, .star {
    color: var(--color-gray);
    font-size: 0.8rem;
}

#recommand > h2 {
    text-align: start;
    margin-top: 100px;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--color-darkgray);
}
#recommand > button {
    align-items: center;
    font-size: large;
    top: 50%;

}
.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 100px;
}
.button-left {
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: large;
    margin-left: 20px;
}
.button-right {
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: large;
    margin-right: 20px;
}

/* help */

.help > .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: row;
    padding-bottom: 50px;
    border-bottom: 1px solid var(--color-darkgray);
}
.help-title {
    color: var(--color-deepblack);
    font-weight: 450;
}
.help-text > a {
    color: var(--color-black);
}

/* footer */

footer {
    margin-top: 30px;
}

#terms {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-darkgray);
    padding-bottom: 30px;
}
.term > a {
    color: var(--color-black)
}
.term-left > a {
    color: var(--color-black);
    margin-left: 20px;
    font-weight: bold;
}
.condition {
    color: var(--color-gray);
    font-size: 0.7rem;
}